* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #00028c;
  height: 100vh;

  display: flex;
}

.memory-game{
  height: 640px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;

  margin: auto;
}

.memory-card{
  position: relative;
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  transform-style: preserve-3d;
  transition: transform .4s;
}

.memory-card:active{
  transform: scale(.90);
}

.memory-card.flip{
  transform: rotateY(180deg);
}

.front-face, .back-face{

  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  background: #1c7ccc;
  backface-visibility: hidden;

}

.front-face{
  transform: rotateY(180deg);
}
